nav a {
    display: block;
    margin: 10px;
    padding: 10px;
    background: #6c63ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

input, select, button {
    margin: 5px;
    padding: 8px;
}


body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

input, button {
    padding: 10px;
    margin: 10px;
    width: 80%;
}

button {
    background: #6c63ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #4e47cc;
}


textarea {
    width: 90%;
    height: 50px;
    margin: 10px;
}

button {
    padding: 10px;
    background: #6c63ff;
    color: white;
    border: none;
}

.resultado {
    text-align: left;
    margin-top: 20px;
}

input, select, button {
    padding: 10px;
    margin: 8px;
    width: 80%;
}

button {
    background: #6c63ff;
    color: white;
    border: none;
    cursor: pointer;
}

.historial {
    text-align: left;
    margin-top: 20px;
}

.limpiar {
    background: red;
}